/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Century751+BT");

/* Tailwind */
@import "tailwindcss";

/* Brand Colors */
:root {
  --color-primary: #0F4D81;
  --color-maroon: #9B1B2F;
  --color-dark: #2B292A;
  --color-lightblue: #A2D5EB;
}

/* Base Styles */
@layer base {
  body {
    font-family: "Montserrat", sans-serif;
    color: var(--color-dark);
  }

}

.heading {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
}

p,
.paragraph {
  font-family: "Montserrat", serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
}

.py-global {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media (max-width: 768px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .heading {
    font-size: 36px;
  }

  .py-global {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@layer components {
  .container-custom {
    @apply max-w-7xl mx-auto px-6 lg:px-8;
  }
}
.intro-text {
font-family: "Century751 BT", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: 0;
}
